.home {
  text-align: center;
  padding: 32px 0;
  flex: 1;

  &_hero-img {
    max-width: 400px;
    width: 100%;
  }

  &_hero {
    margin: 32px auto;
    display: flex;
    justify-content: center;
    width: 80%;

    &_card {
      width: 100%;
    }
  }
}
