.header {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#user-menu .menuListItemIcon {
  min-width: 42px;
}
