.heading {
  flex-basis: 33.33%;
  flex-shrink: 0;
}

.subheading {
  flex-basis: 61%;
}

.heading,
.subheading {
  display: grid;
  align-items: center;
  padding: 0 8px;
}

div.link-summary-header {
  margin: 5px 0;
}

.column {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.column-title {
  display: flex;
  justify-content: center;
  padding: 0 4px;
  align-items: center;
  border-bottom: 2px solid rgba(82, 236, 255, 0.4);
}

// .link-summary:nth-child(even) {
//   background-color: rgba(53, 53, 53, 0.03);
// }
