.link-form {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.link-form-container {
  padding: 16px;
  width: 100%;
}

span.link-form_terms {
  margin-top: 12px;
}

div.link-form_input {
  margin-right: 32px;
  flex: 1;

  @media screen and (max-width: 700px) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
